body{
	background-color: #f1f1f1;
  	font-family: Avenir, 'Avenir', Tahoma, Arial, sans-serif;
}

/* Common app styling */

#content-header {
	background: #fb715e;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px; /* Fixed header height */
	overflow: hidden; /* Disable scrollbars for header */
}

#content-main {
	/*background: #fff;*/
	position: fixed;
	top: 80px; /* Same value as #content-header's height */
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto; /* Enable scrollbars within main content section */
}

.padding {
	padding: 15px;
}

#notification-message {
	background-color: #818285;
	color: #fff;
	position: absolute;
	width: 100%;
	min-height: 80px;
	right: 0;
	z-index: 100;
	bottom: 0;
	display: none; /* Hidden until invoked */
}

#notification-message-header {
	font-size: medium;
	color: #fff;
	margin-bottom: 10px;
}

#notification-message-body {
	color: #fff;
}

#notification-message-close {
	background-image: url("../Images/Close.png");
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:active{
	color: #000;
	background-color: #ccc;
	border-color: #bbb;
}

.btn:disabled {
	color: #000;
	background-color: #ccc;
	border-color: #bbb;
}

.btn-primary {
  color: #ffffff;
  background-color: #23bab5;
  border-color: #21b1ad;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #1fa5a0;
  border-color: #1b8f8b;
}
.btn-warning {
  color: #ffffff;
  background-color: #eac841;
  border-color: #e9c538;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #e7c12a;
  border-color: #dfb719;
}
.btn-danger {
  color: #ffffff;
  background-color: #df6c6e;
  border-color: #dd6466;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #da5759;
  border-color: #d64245;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent.active,
.open .dropdown-toggle.btn-transparent {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.form-control {
  height: auto;
}

.pull-right{
  float:right;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.btn-halfblock {
	display: inline-block;
	width: 48.2%;
	padding-right: 0;
	padding-left: 0;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 5px;
}

.well{
	padding: 2px;
	background: #ccc;
}

.has-error {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #a94442 !important;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -20px;
  margin-top: -25px;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

.alert-info {
color: #31708f;
background-color: #d9edf7;
border-color: #bce8f1;
}
.alert {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
}

.giant{
	font-size: 80pt;
	color:#23bab5;
	text-align: center
}
